<div class="mx-auto" style="margin-top:20vh; margin-bottom:5rem;">
  <div class="d-flex">
    <p class="title mx-auto mb-0">
      PEPABO MAKER FESTIVAL
    </p>
  </div>
  <div class="d-flex">
    <p class="sub-title mx-auto">
      イベントの感想を一言で！<span style="color: rgba(255,255,0,0.8);">(^^)</span>
    </p>
  </div>
  <div class="d-flex mt-1">
    <p class="mx-auto">
      <a herf="https://twitter.com/k_appdev" style="font-weight: bold;color: rgba(255, 255, 0, 0.8)">KAppDevClub</a> <span style="color: rgba(255,255,255,0.8);">@</span> <span style="font-weight: bold;color: rgba(0, 255, 255, 0.8);">KagoshimaUniv</span>
    </p>
  </div>
  <div class="d-flex mt-1">
    <p class="count mx-auto">
      現在のコメント数 => <span style="font-size: 2rem; color: rgba(255,255,0,0.9);"><%= @count %></span>
    </p>
  </div>
  <div class="d-flex my-3">
    <%= link_to "感想を繋げる...", note_path(token: "7ZRerpJrdSzKzsqm3SFhVcm0cTNhRfqTdhF0pfXHKNDCSgWNqWVXKWT2avXiCjNTbazZ7ovVxJQG4Y-GrFObq_rH0NqMzNs1xLE-_SmX15S-UbjOu8yE6zpssTTWR6lQRwC6kg"), class: "btn btn-primary w-50 mx-auto" %>
  </div>
  <div class="d-flex mt-1">
    <p class="count mx-auto">
      *このページは表示データ更新のため接続から10分ごとに自動リロードします<br>
      *タブレットまたはパソコンからの閲覧を推奨しています(^^)
    </p>
  </div>
  <% @posts.each_with_index do |post, idx| %>
    <p class="word<%= idx %>" style="font-size: 1.5rem; position: absolute;"><%= post.word %></p>
  <% end %>
</div>

<%= render "form", post: @post %>