<!DOCTYPE html>
<html>
  <head>
    <title>WordFestival</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= image_path("okome.png") %>">
    <meta name="Description" content="Okome Official Web Site">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Ka2Robo" />
    <meta property="og:url" content="https://word-festival.herokuapp.com/" />
    <meta property="og:title" content="WordFestival" />
    <meta property="og:description" content="WordFestivalを開催しました" />
    <meta property="og:image" content="https://okomeee.github.io/static/okome.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% unless controller.action_name == "note" %>
    <script>
      setTimeout(function() {
        $(".alert").remove();
      }, 3000);
    </script>
    <% end %>
  </head>

  <body>
    <div class="container mt-4">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <%= msg.html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
